<div class="calculator">
  <div class="display">{{ displayValue }}</div>
  <main>
    <div class="operators">
      <div (click)="add()" class="tile">+</div>
      <div (click)="subtract()" class="tile">-</div>
      <div (click)="multiply()" class="tile">x</div>
      <div (click)="divide()" class="tile">÷</div>
    </div>
    <div class="bottom">
      <div class="numbers">
        <div (click)="numberPress($event)" class="tile" data-key="7">7</div>
        <div (click)="numberPress($event)" class="tile" data-key="9">9</div>
        <div (click)="numberPress($event)" class="tile" data-key="8">8</div>
        <div (click)="numberPress($event)" class="tile" data-key="4">4</div>
        <div (click)="numberPress($event)" class="tile" data-key="5">5</div>
        <div (click)="numberPress($event)" class="tile" data-key="6">6</div>
        <div (click)="numberPress($event)" class="tile" data-key="1">1</div>
        <div (click)="numberPress($event)" class="tile" data-key="2">2</div>
        <div (click)="numberPress($event)" class="tile" data-key="3">3</div>
        <div (click)="numberPress($event)" class="tile" data-key="0">0</div>
        <div (click)="numberPress($event)" class="tile" data-key=".">.</div>
        <div (click)="clear()" class="tile">AC</div>
      </div>
      <div (click)="equal()" id="equals" class="tile">=</div>
    </div>
  </main>
  <footer>
    <p>The "." key does not work yet Created by</p>
    <a target="blank" href="https://github.com/JuanIWK3">JuanIWK3</a>
  </footer>
</div>
