:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.2rem;
}

.calculator {
  width: 224px;
  display: flex;
  flex-direction: column;

  .display {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    background: #000;
    color: #fff;
    height: 40px;
    text-align: right;
    padding-right: 8px;
  }

  .operators {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
  }

  .bottom {
    display: flex;
  }

  .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 8px;
    grid-gap: 8px;
  }

  #equals {
    margin-top: 8px;
    margin-left: 8px;
    background-color: #000;
    width: 50px;
    height: 224px;
    color: #fff;
  }
}
